<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Home Page</title>
</head>
<body>
    <h1>Hello, {{username}}</h1>
    <h2>your registered email is {{email}}</h2>
    <table>
        <thead>
            <th>Username</th>
            <th>E-mails</th>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    <td>{{x.username}}</td>
                    <td>{{x.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/slotbook/logout">
        <button type="submit">Log Out</button>
    </form>

</body>
</html>