{% extends "slotbook/layout1.html" %}
{% block title %}
    HomePage
{% endblock %}
{% block main %}
    <h1>Hello, {{username}}</h1>
    <h2>your registered email is {{email}}</h2>
    <table>
        <thead>
            <th>Username</th>
            <th>E-mails</th>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    <td>{{x.username}}</td>
                    <td>{{x.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/" method="POST">
        <select>
            {% for x in sports %}
                <option>{{x}}</option>
            {% if enpty %}
            No sports Available
            {% endif %}
            {% endfor %}
        </select>
        <select>
            {% for x in slots %}
            <option>{{x}}</option>
            {% if enpty %}
            No sports Available
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Book</button>
    </form>
{% endblock %}