{% extends "slotbook/layout1.html" %}
{% block title %}
    HomePage
{% endblock %}
{% block main %}
    <h1>Hello, {{username}}</h1>
    <h2>your registered email is {{email}}</h2>
    <h2 style="text-align:left">All sports</h2>
    <ul style="text-align:left">
        {% for entry in sports %}
            <li><a href="/slotbook/sports_pages/{{entry}}">{{entry}}</a></li>
        {% endfor %}
    </ul>
    <h1>Available Slots</h1>
    <form action="/slotbook/" method="POST">
        {% csrf_token %}
        <select name="sport">
            <option disabled selected>Sport</option>
            {% for x in ava_sports %}
                <option value="{{x}}">{{x}}</option>
            {% if enpty %}
                No sports Available
            {% endif %}
            {% endfor %}
        </select>
        <select name="arena">
            <option disabled selected>Courts/Arenas</option>
            {% for x in courts %}
                <option value="{{x}}">{{x}}</option>
            {% if empty %}
                No courts Available
            {% endif %}
            {% endfor %}
        </select>
        <select name="slot">
            <option disabled selected>Slot</option>
            {% for x in slots %}
                <option value="{{x}}">{{x}}</option>
            {% if enpty %}
            No slots Available
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
{% endblock %}