{% extends "slotbook/layout.html" %}
{% block title %}
    Mittal Sports Complex
{% endblock %}
{% block main %}
    <h2>Please Register Here</h2>
    <br>
    <form action="/slotbook/register/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" autocomplete="off" placeholder="Name" autofocus>
        <br>
        <br>
        <input type="email"  autocomplete="off" name="email" placeholder="E-Mail">
        <br>
        <br>
        <input type="password" name="password" autocomplete="off" placeholder="Password">
        <br>
        <br>
        <input type="password" name="confirmation" autocomplete="off" placeholder="Confirm Password">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
        <br>
    </form>
{% endblock %}